body {
    display: flex;
}

.background {
    flex-grow: 1;
    margin: 1vh;
    background: linear-gradient(216deg, #ac65d4, #d9a442);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 400px;
    width: 700px;
    max-width: 90vw;
    max-height: 90vh;
    background: white;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: #c36686;
}

table {
    flex-grow: 1;
    display: flex;
    background: #56acc5;
    border-radius: 5px;
    margin: 1%;
    min-width: 210px;
    padding: 10px;
}

tbody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

tr {
    flex-grow: 1;
    display: flex;
}

td {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    margin: 1px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    background: #ffffff3d;
    font-size: 25px;
    box-shadow: none;
    transition: box-shadow 1s;
}

td:hover:not(.invalid) {
    box-shadow: 0px 0px 20px 0px #3e4a2f;
}

.darker {
    background: #ffffff21;
}

.invalid {
    background: #0000000d;
    cursor: default;
}

.selected {
    background: #8fbf50;
}

