body {
    display: flex;
}

.background {
    flex-grow: 1;
    margin: 1vh;
    background: linear-gradient(216deg, #ac65d4, #d9a442);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 400px;
    width: 700px;
    max-width: 90vw;
    max-height: 90vh;
    background: white;
    border-radius: 5px;
}