<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gradient.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/card.js') }}"></script>
</head>
<body>

<div class="background">
    <div class="container">
        <h2> {{name}} </h2>
        <table>
        {% for i in range(0, 3) %}
          <tr>
          {% for j in range(0, 9) %}
            {% if numbers[3 * j+i] == 0 %}
                <td class="invalid">
            {% elif (i + j) % 2 == 0 %}
                <td class="darker" onclick="toggle(this)">
            {% else %}
                <td  onclick="toggle(this)">
            {% endif %}
              {% if numbers[3 * j+i] > 0 %}
                {{ numbers[3 * j+i] }}
              {% endif %}
          </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
    </div>
</div>

</body>
</html>