<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gradient.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>
<body>
<div class="background">
    <div class="container">
        <h1>BINGO</h1>
        <input type="text" id="username" placeholder="Username:">
        <div class="btn-border">
            <button onclick="goToCard()">Submit</button>
        </div>
    </div>
</div>
</body>
</html>